@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
   
   :root{
    --footer-color:#2F303A;
    --section-color:#2F303A;
    --header-color:#FFFFFF;
    --article-color:#F5F4FA;
}
#title{
    color: #FFFFFF;
}
#button{
    color:#2196F3 ;
}
#name{
    color:#212121 ;
}
p{
    color:#757575 ;

}
header{
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
}
#title{
    font-family: Roboto;
    font-weight: 900;
    font-style: normal;
}
#button{
font-family: Roboto;
font-weight: 700;
font-style: normal;
}
#name{
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
}
P{
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
}
footer{
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
}





